/vendor
/node_modules
composer.lock
package-lock.json
yarn.lock
.env
.env.*
.phpunit.result.cache
.phpunit.cache
auth.json
/.idea
/.vscode
/.fleet
/.nova
/.zed
.phpactor.json
.DS_Store
Thumbs.db
*.log
.php_cs.cache
.php-cs-fixer.cache
/storage
/bootstrap/cache
/public/storage
/public/hot